<div class="container">
    <h4>Edit Task</h4>
<form *ngIf="task">
  <div class="form-group">
    <label>Task</label>
    <input value="{{ task.text }}" #taskText class="form-control">
  </div>
  <div class="form-group">
    <label>Notes</label>
    <textarea class="form-control" rows="2" #taskNote>{{ task.note }}</textarea>
    <small class="form-text text-muted">Optional</small>
  </div>
  <button (click)="save(taskText.value, taskNote.value); taskText.value=''; taskNote.value=''" class="btn btn-primary">Edit Task</button>
  <button type="submit" class="btn btn-danger">Delete Task</button>
  <a (click)="goBack()" type="submit" class="btn btn-secondary">Go Back</a>
</form>
</div>