<div class="container">
    <h4>Pending Tasks</h4>

<!--display a list of pending tasks-->
<div class="list-group">
    <a class="list-group-item list-group-item-action" *ngFor="let task of tasks" (click)="onSelect(task)" [class.list-group-item-info]="task === selectedTask">  
        <button class="btn btn-danger px-2 mr-2" (click)="done(task); $event.stopPropagation()">✗</button>
        {{ task.text }}
    </a>
</div>

<!--task detail section-->
<task-detail [task]="selectedTask"></task-detail>

<!--button to add a new task-->
<br>
  <button class="btn btn-secondary" routerLink="/add" routerLinkActive="active">
    Add New Task
  </button>

</div>