<div class="container">
<h4>All Tasks</h4>
<ul class="list-group">
    <li *ngFor="let task of tasks" class="list-group-item" [class.list-group-item-success]="task.done" [class.list-group-item-danger]="task.done === false"
 (click)="onSelect(task)">  
        <button *ngIf="task.done" class="btn btn-success px-2 mr-2" (click)="undone(task)">✓</button>
        <button *ngIf="task.done === false" class="btn btn-danger px-2 mr-2" (click)="done(task)">✗</button>
        <span> {{ task.text }} </span>
    </li>
</ul>

<task-detail [task]="selectedTask"></task-detail>

<br>
  <button class="btn btn-secondary" routerLink="/add" routerLinkActive="active">
    Add New Task
  </button>

  </div>